* {
    font-size: 16px;
}

.poster {
    margin-top: 20px;
    border-radius: 0px 0px 5px 5px;
}

.event-card-time {
    padding: 0 5px;
    width: 15%;
}

.event-card-description {
    padding: 0 5px;
    width: 55%;
}

.event-card-place {
    padding: 0 5px;
    width: 30%;
}

@keyframes slideInFromLeftFlowerBucket {
    0% {
        left: -100%;
    }

    100% {
        left: -80%;
    }
}

@keyframes slideInFromLeftFlowerBucketRight {
    0% {
        right: -100%;
    }

    100% {
        right: -80%;
    }
}

.welcoming-window-content-left-flower-bucket {
    /* transform: translate(0%, -100%); */
    left: -80%;
    display: none;
}

.welcoming-window-content-left-flower-bucket-right {
    display: none;
    right: -80%;
    animation: 1s ease-out 0s 1 slideInFromLeftFlowerBucketRight;
}

.welcoming-window-content-quotes-and-logos-container {
    left: 50%;
    width: 350px;
    transform: translateX(-50%);
}

.logos-container {
    top: 5%;
    width: 100%;
}

.logo-3 {
    margin: 0 auto auto;
    width: 27%;
}

.quote-container {
    top: 27%;
    width: 105%;
    font-size: 1.4rem;
}

.quote-container p {
    font-size: 1.4rem;
}

.welcoming-window-content-lesya {
    height: 45%;
    left: 48%;
    opacity: 1;
}