* {
    font-size: 13px;
}

.welcoming-window-content-quotes-and-logos-container {
    width: 300px;
}

.welcoming-window-content-left-flower-bucket {
    display: none;
}

.welcoming-window-content-left-flower-bucket-right {
    display: none;
}

@media (max-width: 300px){ 

.welcoming-window-content-quotes-and-logos-container {
    width: 250px;
}

}

